.square-cross {
  width: 40px;
  height: 20px;
  text-align: right;
}
.square-horizontal {
  height: 20px;
  font-size: 40px;
  text-align: center;
}
.square-vertical {
  width: 40px;
  font-size: 40px;
  text-align: right;
  line-height: 55px;
}
input[type="number"] {
  width: 80%;
  height: 100%;
  font-size: 40px;
  text-align: center;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="number"]:focus {
    border:solid 1px #EEA34A;
}
