.square-cross {
  width: 35px;
  text-align: right;
}
.square-horizontal {
  height: 20px;
  font-size: 35px;
  text-align: center;
}
.square-vertical {
  width: 35px;
  font-size: 35px;
  text-align: right;
  line-height: 40px;
}
.square-item {
  text-align: center;
}

input[type="number"] {
  width: 70%;
  height: 100%;
  font-size: 35px;
  text-align: center;
  border: 1px solid black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="number"]:focus {
    border:solid 1px #EEA34A;
}
